
/*head with an imagine as background */
header#page-header {
  padding: 80px; 
  background:url(http://cs.sierracollege.edu/~xsun/final_project/coffee.jpg) no-repeat;
 background-size: cover; 
  text-align: center; 
  
  
 }
/* increase the size of the font in the header */
 header#page-header h1 {
    font-size: 100px;
}
/*aside  */
 aside #sidebar{
	 	 background: #F0F0F0;
 }
 /*sidelink aisde */
  .sidelink {
	 background-color: #000000;
	 padding: 20px;
	 
 }
 /*sidelink bar font style */
 a {color:white;
    text-decoration: none;
	font-size: 20px;
	padding:20px;
 
 }
 
 /*changes color when linked is checked on*/
.sidelink ahover {
	background-color: white;
	color: black;
}



/*footer */

footer#page-footer {
  color: #237CBE;
  background: #000000;
  text-align: center;
  color:white;
  padding: 5px;
  border-top: 3px solid darken(#F0F0F0, 10%);
}



